%div.content.pure-u-1.pure-u-md-3-4
  %div
    %div.posts
      %h1
        %i.fa.fa-cube.fa-lg
        = @team.name
      %section.post
        %div.post-description


          = form_for @team, html: { class: 'team_form' } do |f|
            - if @team.detail_editable?(current_user)
              %h2.content-head
                %i.fa.fa-edit.fa-lg
                Edit Detail
              %table.pure-table.pure-table-bordered.detail_table
                %tr
                  %td.column_name
                    Team Name
                  %td.team_name
                    = f.text_field :name
                %tr
                  %td.column_name
                    Organized on
                  %td.team_name
                    = f.text_field :organized_on
                %tr
                  %td.column_name
                    Disbanded On
                  %td.team_name
                    = f.text_field :disbanded_on

            %h2.content-head
              %i.fa.fa-edit.fa-lg
              Edit Description

            = f.text_area :description
            = button_tag class: 'pure-button', data: { confirm: 'Create new team. Are you sure?' } do
              %i.fa.fa-save.fa-lg
              Save
