%div.content.pure-u-1.pure-u-md-3-4
  %div
    %div.posts
      %h1
        %i.fa.fa-cube.fa-lg
        = @team.name
      %section.post
        %header.post-header
          %h2.content-head
            %i.fa.fa-user-plus.fa-lg
            Assign Team Members
        %div.post-description
          %table.pure-table
            %thead
              %th Name
              %th
                %i.fa.fa-external-link.fa-lg
              %th New Assign
              %th Current Assign
            %tbody
            - @candidate_members.each_with_index do |candidate_member, idx|
              %tr{ class: idx.odd? ? 'pure-table-odd' : '' }
                %td
                  = "#{candidate_member.nick} (#{candidate_member.name})"
                %td
                  = link_to home_path(candidate_member.nick), target: '_blank' do
                    %i.fa.fa-external-link.fa-lg
                %td
                  - assignable_roles = candidate_roles(@team, current_user, candidate_member)
                  - if assignable_roles.present?
                    = form_tag team_assign_member_path, action: :post, class: 'pure-form assign_user' do
                      - assignable_roles.each do |role|
                        - label_id = "#{candidate_member.id}_role_#{role}"
                        = radio_button_tag(:role, role, '', id: label_id)
                        = label_tag(label_id, role.to_s.capitalize)
                        = hidden_field_tag(:operator_id, current_user.id)
                        = hidden_field_tag(:candidate_member_id, candidate_member.id)
                      = button_tag class: 'pure-button', data: { confirm: 'are you sure?' } do
                        %i.fa.fa-user-plus.fa-lg
                %td
                  = candidate_member.roles(@team).map(&:to_s).map(&:capitalize).join(', ')
