= render 'users/profile_header'

#layout.pure-g
  = render 'users/guest_sidebar'

  %div.content.pure-u-1.pure-u-md-3-4
    %div
      %div.posts
        %h1.content-subhead
        %section.post
          %header.post-header
            %h2
              Create Profile
          %div.post-description
            = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post }) do |f|
              %table.profile.edit_form
              %table.profile.edit_form
                %tr
                  %th
                    = f.label :name
                  %td
                    = f.text_field :name
                %tr
                  %th
                    = f.label :nick
                  %td
                    = f.text_field :nick
                %tr
                  %th
                    = f.label :screen_name_kana
                  %td
                    = f.text_field :screen_name_kana
                %tr
                  %th
                    = f.label :screen_name
                  %td
                    = f.text_field :screen_name
                %tr
                  %th
                    = f.label :email
                  %td
                    = f.email_field :email
                %tr
                  %th
                    = f.label :member_number
                  %td
                    = f.text_field :member_number
                %tr
                  %th
                    = f.label :password
                  %td
                    = f.password_field :password, autocomplete: 'off'
                    - if @validatable
                      %br/
                      %em
                        (#{@minimum_password_length} characters minimum)
                %tr
                  %th
                    = f.label :password_confirmation
                  %td
                    = f.password_field :password_confirmation, autocomplete: 'off'
                %tr
                  %th
                  %td
                    = f.submit 'Sign Up'
