%div.sidebar.pure-u-1.pure-u-md-1-4
  %div.header
    = gravatar_image_tag(@user)
    %h1.brand-title= @user.name
    %h2.brand-tagline= @user.screen_name
    %nav.nav
      %ul.profile
        %li= @user.nick
        %li= @user.email
