%div.content.pure-u-1.pure-u-md-3-4
  %div
    %div.posts
      %h1.content-subhead
      %section.post
        %header.post-header
          %h2
            Profile
            - if myself?(@user)
              = link_to edit_user_registration_path, class: 'edit_link' do
                %i.fa.fa-edit.fa-lg
        %div.post-description
          %table.profile.pure-table.pure-table-bordered
            %tr
              %td.column_name
                Name
              %td
                #{@user.name} / #{@user.nick}
            %tr
              %td.column_name
                Screen Name
              %td
                %ruby
                  %rb= @user.screen_name
                  %rt= @user.screen_name_kana
            %tr
              %td.column_name
                Email
              %td
                = @user.email
            %tr
              %td.column_name
                Member Number
              %td
                = @user.member_number
    %div.posts
      %h1.content-subhead
      %section.post
        %header.post-header
          %h2
            Resume
            - if myself?(@user)
              = link_to edit_users_profile_path, class: 'edit_link' do
                %i.fa.fa-edit.fa-lg
        %div.post-description
          %div.resume
            - if @user.profile.present?
              = @user.profile.render(:body).html_safe
