= content_for :header do
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
  = stylesheet_link_tag 'http://yui.yahooapis.com/pure//grids-responsive.css'
  = stylesheet_link_tag 'users/profile'

#layout.pure-g
  = render 'profile_sidebar'

  %div.content.pure-u-1.pure-u-md-3-4
    %div
      %div.posts
        %h1.content-subhead
          #{@user.name}'s Profile
        %section.post
          %div.post-description
            %h2
              Profile
              - if myself?(@user)
                = link_to('[ Edit ]',  edit_user_registration_path, class: 'edit_link')
            %table.profile
              %tr
                %th
                  Name
                %td
                  #{@user.name} / #{@user.nick}
              %tr
                %th
                  Screen Name
                %td
                  %ruby
                    %rb= @user.screen_name
                    %rt= @user.screen_name_kana
              %tr
                %th
                  Email
                %td
                  = @user.email
              %tr
                %th
                  Member Number
                %td
                  = @user.member_number
            %h2
              Resume
