%div.content.pure-u-1.pure-u-md-3-4
  %div
    %div.posts
      %h1.content-subhead
      %section.post
        %header.post-header
          %h2
            %i.fa.fa-user.fa-lg
            Profile
            - if myself?(@user)
              = link_to edit_user_registration_path, class: 'edit_link' do
                %i.fa.fa-edit.fa-lg
        %div.post-description
          %table.profile.pure-table.pure-table-bordered
            %tr
              %td.column_name
                Name
              %td
                #{@user.name} / #{@user.nick}
            %tr
              %td.column_name
                Screen Name
              %td
                %ruby
                  %rb= @user.screen_name
                  %rt= @user.screen_name_kana
            %tr
              %td.column_name
                Email
              %td
                = @user.email
            %tr
              %td.column_name
                Member Number
              %td
                = @user.member_number
    %div.posts
      %h1.content-subhead
      %section.post
        %header.post-header
          %h2
            %i.fa.fa-tags.fa-lg
            Tags
        %div.post-description
          %div.user_tags
            - @user.tags.each do |tag|
              %div.user_tag
                %i.fa.fa-tag.fa-lg
                  = tag.name
                  - if myself?(@user)
                    = form_tag(user_tag_detach_path(@user.nick), method: :delete, class: "tag_detach_form", data: { confirm: "detach tag [#{tag.name}] from you. are yo sure?" }) do
                      = hidden_field_tag :tag_id, tag.id
                      = button_tag do
                        %i.fa.fa-remove.fa-lg
          - if user_signed_in?
            %div.attach_user_tag
              = form_tag(user_tag_attach_path(@user.nick)) do
                = text_field_tag :name
                = button_tag class: 'pure-button' do
                  %i.fa.fa-tag.fa-lg
                    Attach
    %div.posts
      %h1.content-subhead
      %section.post
        %header.post-header
          %h2
            %i.fa.fa-file-text.fa-lg
            Resume
            - if myself?(@user)
              = link_to edit_users_resume_path, class: 'edit_link' do
                %i.fa.fa-edit.fa-lg
        %div.post-description
          %div.resume
            - if @user.resume.present?
              = @user.resume.render(:body).html_safe
