%div.content.pure-u-1.pure-u-md-3-4
  %div
    %div.posts

      = render 'suspended', user: @user if @user.suspended?
      %h1
        %i.fa.fa-user.fa-lg
        = @user.nick

      %section.post
        %header.post-header
          %h2.content-head
            %i.fa.fa-smile-o.fa-lg
            Profile
            - if myself?(@user)
              = link_to edit_user_registration_path, class: 'edit_link' do
                %i.fa.fa-edit.fa-lg
        %div.post-description
          %table.profile.pure-table.pure-table-bordered.detail_table
            %tr
              %td.column_name
                Name
              %td
                #{@user.name} / #{@user.nick}
            %tr
              %td.column_name
                Screen Name
              %td= user_name_tag(@user)
            %tr
              %td.column_name
                Email
              %td
                = @user.email
            %tr
              %td.column_name
                Member Number
              %td
                = @user.member_number
    %div.posts
      %section.post
        %header.post-header
          %h2.content-head
            %i.fa.fa-tags.fa-lg
            Tags
        %div.post-description
          = render 'user_tags/tags', tags: @user.tags, user: @user
          - if user_signed_in?
            %div.attach_user_tag
              = form_tag(user_tag_attach_path(@user.nick)) do
                = text_field_tag :name
                = button_tag class: 'pure-button' do
                  %i.fa.fa-tag.fa-lg
                    Attach
    %div.posts
      %section.post
        %header.post-header
          %h2.content-head
            %i.fa.fa-cubes.fa-lg
            Teams
        %div.post-description
          %table.user_list.pure-table
            %thead
              %tr
                %th Name
                %th Roles
                %th Status
            %tbody
              - assigned_teams(@user).each_with_index do |(_, team), idx|
                %tr{ class: idx.odd? ? 'pure-table-odd' : '' }
                  %td
                    = link_to team_path(team.id) do
                      %i.fa.fa-cube.fa-lg
                      = team.name
                  %td= team.roles.join(', ')
                  %td
                    - if team.active
                      %i.fa.fa-link.fa-lg
                      Assigned
                    - else
                      %i.fa.fa-unlink.fa-lg
                      Withdrawned

    %div.posts
      %section.post
        %header.post-header
          %h2.content-head
            %i.fa.fa-file-text.fa-lg
            Resume
            - if myself?(@user)
              = link_to edit_users_resume_path, class: 'edit_link' do
                %i.fa.fa-edit.fa-lg
        %div.post-description
          %div.resume
            - if @user.resume.present?
              = @user.resume.render(:body).html_safe
          - if @user.resume_histories.present?
            = link_to user_resume_histories_path do
              %i.fa.fa-files-o.fa-lg
              Edit Histories
