= content_for :header do
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
  = stylesheet_link_tag 'teams/teams'

= content_for :content do
  #layout.pure-g
    = render 'teams/sidebar'
    = yield

= render file: 'layouts/application'
