= render 'shared/header', css_file: 'users'
= content_for :content do
  #layout.pure-g
    - if user_signed_in?
      = render 'users/profile_sidebar'
    - else
      = render 'users/guest_sidebar'
    = yield

= render file: 'layouts/application'
